<h1>Post Form</h1>
<%= form_for @post do |f| %>
  Title: <%=f.text_field :title%> <br />
  Content: <%=f.text_area :content%> <br />
  Categories:<br />
  <label>Choose an existing category:</label>
  <%=     %>
  
  <label>Create a new category:</label>
    <%=  f.fields_for :categories do |cat_fields|    %>
      <%=  cat_fields.text_field :name %>
    <% end %>
  
  <%= f.submit %>
<% end %>

