<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<ul>
  <% @post.categories.each do |cat| %>
  <li><%= link_to cat.name, category_path(cat) %></li>
  <% end %>
</ul>
<h4>Comments:</h4>
    <ul>
    <% @post.users.uniq.each do |user| %>
      <li><%=link_to user.username, user_path(user) %> says: <% user.comments.each do |c|%> <%= c.content %><% end%></li>
    <% end %>
  </ul>



<h4>Add a Comment:</h4>
<%= form_for @comment do |f| %>
 <label> Select a User:</label>
  
  
  
 <label>Or Create A New User:</label> 
 
 
 
  Comment: <%=f.text_area :content%> <br />
  <%= f.hidden_field :post_id, :value => @post.id%>
  <%= f.submit "Create Comment"%>
<% end %>


